:root {
    --main-font: "neue-haas-unica", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --second-font:HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
.explore-mobile-top{
    display: none;
}

.x-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr  1fr;
    grid-gap: 30px 20px;
    padding: 0px 20px 0px 20px;
}

.x-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.x-1{
    width: 100%;
    margin-bottom: 20px;
}

.x-p {
    font-family: var(--main-font);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
}

.x-p2 {
    font-family: var(--main-font);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 10px;
    max-width: 335px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    text-rendering: optimizeLegibility;
}

.x-text h2{
    font-family: var(--main-font);
    font-size: 50px;
    line-height: 56px
}

.x-items-title{
    font-family: var(--main-font);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.x-ex {
    display: block;

}

.x-ex p{
    margin-bottom: 1em;
    font-weight: 300;
    line-height: 8px;
    letter-spacing: 0.01em;
    font-family: var(--second-font);
    font-size: 12px;
}


@media (max-width:1100px){
    .x-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr  1fr 1fr;
        grid-gap: 30px 20px;
        padding: 0px 20px 0px 20px;
    }
}

@media (max-width: 750px){
    .explore-mobile-top{
        display: block;
        width: 100%;
        filter: brightness(80%)
    }
    .x-container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 450px 1fr  1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .x-text h2{
        font-family: var(--main-font);
        font-size: 1.5em;
        line-height: 1.5em;
    }
}