.c-header {
  align-items: center;
  background-color: #eeeeee; /* カスタマイズしてください */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem; /* カスタマイズしてください */
  width: 100%;
  display: flex;
}


.c-header__list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: center;
}

.c-header__list-item {
  list-style: none;
  text-decoration: none;
}

.c-header__list-link {
  color: #000; /* カスタマイズしてください */
  display: block;
  margin-right: 20px; /*カスタマイズしてください */
    padding: 10px 0px; /* カスタマイズしてください */
  text-decoration: none; /* デフォルトの下線を非表示にする */
    background-image: linear-gradient(90deg, #000000, #000000); /* 線の色 */
    background-repeat: no-repeat;
    background-position: left bottom; /* 線の起点を左・下に設定 */
    background-size: 0 1.5px; /* 線の横幅を0、縦幅を1pxに */
    transition: background-size 0.3s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.c-header__list-link:hover {
    background-size: 100% 1.5px; /* 線の横幅を100%にする */
}

.c-hamburger-menu {
  position: relative;
}

@media screen and (max-width:810px) {
  .c-hamburger-menu__list {
    background-color: #eeeeee; /* カスタマイズしてください */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem; /* カスタマイズしてください */
    position: absolute;
    transform: translateX(-100%);
    transition: 0.3s; /* カスタマイズしてください */
    top: 100%;
    width: 100%;
  }

  #hamburger:checked ~ .c-hamburger-menu__list {
    transform: translateX(0%);
    transition: 0.3s;
  }
  
}

.c-hamburger-menu__input {
  display: none;
}

.c-hamburger-menu__bg {
  background-color: #000; /* カスタマイズしてください */
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4; /* カスタマイズしてください */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

.c-hamburger-menu__button {
  display: none;
}

@media screen and (max-width: 810px) {
  .c-hamburger-menu__button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px; /* カスタマイズしてください */
    height: 32px; /* カスタマイズしてください */
    justify-content: center;
    width: 32px; /* カスタマイズしてください */
  }
}

.c-hamburger-menu__button-mark {
  background-color: #000; /* カスタマイズしてください */
  display: block;
  height: 1px; /* カスタマイズしてください */
  transition: 0.3s; /* カスタマイズしてください */
  width: 20px; /* カスタマイズしてください */
}

@media screen and (max-width: 810px) {
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(1) {
    transform: translate(2px, 1px) rotate(45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(2) {
    opacity: 0;
  }
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(3) {
    transform: translate(2px, 3px) rotate(-45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------- nav-bar styling -------- */

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.logo h2{
    font-family: 'Alexandria', sans-serif;
    letter-spacing: 0.1em;
}

.logo p {
    font-size: 0.8em;
}

.logo h4{
    font-family: sans-serif;
}

.nav-list{
    display: flex;
    flex: 1;
    padding-left: none;
    gap: 15px;
    justify-content: center;
    
}

.nav-list li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.nav-list li a {
    text-decoration: none; /* デフォルトの下線を非表示にする */
    color: black; /* 文字色 */
    background-image: linear-gradient(90deg, #000000, #000000); /* 線の色 */
    background-repeat: no-repeat;
    background-position: left bottom; /* 線の起点を左・下に設定 */
    background-size: 0 1.5px; /* 線の横幅を0、縦幅を1pxに */
    transition: background-size 0.3s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.nav-list li a:hover{
    background-size: 100% 1.5px; /* 線の横幅を100%にする */
}

.icon-list{
    display: flex;
    padding-right: 2rem;
    justify-content: end;
    flex: 1;
    gap: 10px;
    
}

.icon-list li{
    list-style: none;
}

/* hamburger */

.hamburger {
    display: none;
}

.hamburger-menu{
    display: none;
}

@media screen and (max-width: 810px) {
    .icon-list {
      display: none;
    }
}