*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------- nav-bar styling -------- */

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.logo h2 a{
    color: black;
    text-decoration: none;
    font-family: 'Alexandria', sans-serif;
    letter-spacing: 0.1em;
}

.logo p a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.logo h4{
    font-family: sans-serif;
}

.nav-list{
    display: flex;
    flex: 1;
    padding-left: none;
    gap: 15px;
    justify-content: center;
    
}

.nav-list li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.nav-list li a {
    text-decoration: none; /* デフォルトの下線を非表示にする */
    color: black; /* 文字色 */
    background-image: linear-gradient(90deg, #000000, #000000); /* 線の色 */
    background-repeat: no-repeat;
    background-position: left bottom; /* 線の起点を左・下に設定 */
    background-size: 0 1.5px; /* 線の横幅を0、縦幅を1pxに */
    transition: background-size 0.3s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.nav-list li a:hover{
    background-size: 100% 1.5px; /* 線の横幅を100%にする */
}

.icon-list{
    display: flex;
    padding-right: 2rem;
    justify-content: end;
    flex: 1;
    gap: 10px;
    
}

.icon-list li{
    list-style: none;
}

/* hamburger */

.hamburger {
    display: none;
}

.hamburger-menu{
    display: none;
}

/* main */
.mainImage {
    text-align: center; /* 水平方向に中央揃え */
    position: relative; /* 相対位置指定 */
    overflow: hidden;
}

.main-image {
    width: 100%;
    display: block;
}

.main-image2{
    display: none;
}


.main-p {
    position: absolute;
    top: 38%;
    left: 3%;
    color: white;
} 

.main-p h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}

.explore-now {
    margin: 20px auto;
    color: white;
    text-decoration: none; /* デフォルトの下線を非表示にする */
    background-image: linear-gradient(90deg, #ffffff, #ffffff); /* 線の色 */
    background-repeat: no-repeat;
    background-position: left bottom; /* 線の起点を左・下に設定 */
    background-size: 0 1.5px; /* 線の横幅を0、縦幅を1pxに */
    transition: background-size 0.3s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.explore-now:hover {
    background-size: 100% 1.5px; /* 線の横幅を100%にする */
}

@media (max-width: 810px){
    .main-image{
        transform:scale( 1.2, 1.2);
    }

    .main-p p{
        font-size: 0.8em;
    }

    .main-p h2{
        font-size: 1.5em;
    }

    .explore-now{
        font-size: 0.8em;
    }
}

@media (max-width: 450px){
    .main-image{
        display: none;
    }

    .main-image2{
        display: block;
        width: 100%;
        filter: brightness(80%)
    }
    .main-p {
        top: 60%;
        left: 4%;
    }
    .main-p p{
        font-size: 0.8em;
    }

    .main-p h2{
        font-size: 1.2em;
    }
    
    .explore-now{
        font-size: 0.8em;
    }

    .nav-list {
        display: none;
    }

}


/* shoecontainer */

.shoes-container{
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

.shoe1{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.shoe{
    width: 90%;
    margin: 0 auto;
    transition: transform 0.3s ease; /* 拡大縮小のアニメーションを追加 */
}

.shoe:hover{
    transform: scale(0.95); /* ホバー時に画像を拡大表示 */
}

.shoe-explain{
    width: 90%;
    margin: 0 auto;
}

.shoe-p {
    margin-top: 1em;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shoe-p2 {
    margin-top: 0.7em;
    font-size: 0.8em;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(100, 100, 100);
}

.shoe-explain h3{
    margin-top: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 810px){

    .shoe-p{
        font-size: 0.7em;
    }

    .shoe-explain h3{
        font-size: 0.9em;
    }

    .shoe-p2 {
        font-size: 0.7em;
    }
}


@media (max-width: 450px){
    .shoes-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }

    .shoe-p{
        font-size: 0.6em;
    }

    .shoe-explain h3{
        font-size: 0.8em;
    }

    .shoe-p2 {
        font-size: 0.6em;
    }
}

/* second and third main part */

.second-main{
    margin-top: 1.5em;
    position: relative; /* 相対位置指定 */
    overflow: hidden;
}

.main2-image {
    width: 100%;
    display: block;
}

.main2-image2{
    display: none;
}
.main2-p {
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    text-align: center;
} 

.main2-p h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}

.explore-now2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none; /* デフォルトの下線を非表示にする */
    background-image: linear-gradient(90deg, #ffffff, #ffffff); /* 線の色 */
    background-repeat: no-repeat;
    background-position: left bottom; /* 線の起点を左・下に設定 */
    background-size: 0 1.5px; /* 線の横幅を0、縦幅を1pxに */
    transition: background-size 0.3s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.explore-now2:hover {
    background-size: 100% 1.5px; /* 線の横幅を100%にする */
}

@media (max-width:810px){
    .main2-image {
        transform:scale( 1.2, 1.2);
    }

    .main2-p {
        left: 3%;
    }

    .main2-p p{
        font-size: 0.9em;
    }

    .main2-p h2{
        font-size: 1.5em;
    }

    .explore-now2{
        font-size: 0.9em;
        background-size: 0 1px; 
    }

    .explore-now2:hover {
        background-size: 100% 1px; /* 線の横幅を100%にする */
    }
}

@media (max-width:450px) {
    .main2-image{
        display: none;
    }

    .main2-image2{
        display: block;
        width: 100%;
        filter: brightness(80%)
    }
    .third-main{
        display: none;
    }

}
/* more feature pert */

.more-features{
    padding: 2em;
}

.more-features h3{
    margin: 2px 2px 1em 2px;
}

.feature-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.first-one {
    width: 100%;
    padding: 3%;
}

.first-one img{
    width: 100%;

}

.first-one h4{
    font-size: 0.9em;
    margin: 1em 0em;
}

.first-one p{
    font-size: 0.8em;
    color: rgb(100, 100, 100);
}

@media (max-width: 810px){
    .first-one h4{
        font-size: 0.7em;
    }

    .first-one p{
        font-size: 0.5em;
    }
}

@media (max-width: 450px){
    .more-features h3{
        font-size: 0.95em;
    }

    .first-one {
        padding: 1%;
    }

    .first-one p{
        font-size: 0.6em;
    }

    .feature-container {
        grid-template-columns: 1fr ;
        grid-row: 1fr 1fr 1fr 1fr;
        gap: 0.5em;
    }
}

/* subscribe */

.subscribe {
    position: relative;
}

.subscribe-img {
    width: 100%;
    padding: 10px;
    filter: brightness(70%);
}

.subscribe2-img, .subscribe3-img, .subscribe4-img{
    display: none;
}

.subscribe-container {
    width: 30%;
    position: absolute; 
    top: 15%;
    left: 3%;
}


.subscribe-container h3{
    color: white;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.input-text {
    height: 2.4em;
    width: 100%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.checkbox-group p{
    color: white;
    margin-bottom: 1em;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 各チェックボックスの下に余白を追加 */
    flex: 1;
}

input[type="checkbox"] {
    margin-right: 5px; /* チェックボックスとラベルの間に余白を追加 */
    flex-shrink: 0; /* チェックボックスが縮小しないように設定 */
}

.checkbox label{
    color: white;
}



.check-container{
    display: flex;
    justify-content: space-around;
}

.btn{
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
    height: 3em;
    width: 100%;
}

@media (max-width:1140px){
    .subscribe-img {
        display: none;
    }

    .subscribe2-img {
        display: block;
        width: 100%;
        padding: 10px;
        filter: brightness(70%);
    }
    .subscribe-container {
        top: 8%;
        width: 50%;
    }
    .subscribe-container h3 {
        font-size: 1.1em;
    }
}

@media (max-width: 770px){
    .subscribe2-img {
        display: none;
    }

    .subscribe3-img {
        display: block;
        width: 100%;
        padding: 10px;
        filter: brightness(70%);
    }
    .subscribe-container {
        top: 8%;
        width: 70%;
    }
}

@media (max-width: 558px){
    .subscribe3-img {
        display: none;
    }

    .subscribe4-img {
        display: block;
        width: 100%;
        padding: 10px;
        filter: brightness(65%);
    }
    .subscribe-container {
        top: 8%;
        width: 80%;
        left: 10%;
        margin: 0 auto;
    }

    .subscribe-container h3 {
        font-size: 1em;
        font-weight: 600;
    }
}

/* footer */

.footer-container{
    display: flex;
    justify-content: space-around;
    border-bottom:solid 1px gray ;
    width: 95%;
    margin: 2em auto;
    padding-bottom: 2em;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.footer-logo h2{
    font-family: 'Alexandria', sans-serif;
    letter-spacing: 0.1em;
}

.footer-logo p {
    font-size: 0.8em;
}

.footer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-middle{
    flex: 1;
}

.usefullinks {
    margin-bottom: 1em;
}

.links-container{
    padding-left: none;
}

.links-container li{
    list-style: none;
    margin-bottom: 1em;
}

.links-container li a {
    text-decoration: none;
    color: rgb(67, 67, 67);
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-right h4 {
    margin-bottom: 1em;
}

.footer-right div , .footer-right2 div{
    margin-bottom: 1em;
}



.icons{
    display: flex;
    gap: 1.5em;
    margin-bottom: 1em;
}

.icon-items{
    width: 2em;
}

.footer-bottom{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    color: gray;
}

.mobile-footer {
    display: none;
}

@media (max-width: 810px) {
    .footer-left {
        margin-bottom: 0.6em;
    }
    
    .footer-middle{
        display: none;
    }

    .footer-right {
        display: none;
    }
    
    .footer-container{
        flex-direction: column;
        margin-bottom: 1em;
    }

    .mobile-footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-middle2 {
        padding-left: 10%;
    }

    .footer-right2 h5{
        margin: 0em 1em 1em 1em;
    }

    .footer-right2 div {
        padding-left: 1em;
        padding-right: 1em;
    }

    .usefullinks {
        margin-bottom: 0.7em;
    }

    .links-container li{
        margin-bottom: 0.7em;
    }

    .footer-logo{
        display: flex;
        margin-bottom: 2%;
    }
    
    .footer-logo h2{
        font-family: 'Alexandria', sans-serif;
        letter-spacing: 0.1em;
        font-size: 1.2em;
    }
    
    .footer-logo p {
        font-size: 0.7em;
    }

    .footer-bottom{
        font-size: 0.8em;
    }
    
}

@media (max-width:450px ) {

    .footer-container{
        padding-bottom: 1.5em;
    }
    .footer-middle2 {
        padding-left: 5%;
    }

    .icon-items{
        width: 1.5em;
    }

    .icons {
        gap: 0.5em;
    }
    
    .links-container li a{
        margin-bottom: 0.5em;
        font-size: 0.85em;
    }

    .footer-bottom {
        font-size: 0.5em;
    }
    
}